.page_wrapper{
    position: absolute;
    width: 100%;
    top:78%;
    margin:0 auto;
    height: 40px;
    text-align: center;
    /*position: relative;*/
}
ul.pagination{
    display: inline-block;
    padding: 0;
    /*width: 500px;*/
    margin: 0 auto;
    /*position: relative;*/
}
ul.pagination span{
    display: inline-block;
    /*box-sizing: border-box;*/
    color: #6699ff;
    margin-top:9px;
}
ul.pagination li{
    display: inline;
    cursor:pointer;
}
ul.pagination li span{
    display: inline-block;
    box-sizing: border-box;
    color: #6699ff;
}
ul.pagination li a{
    font-size: 8pt;
    color: #fff;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color .2s;
}
ul.pagination li a.active{
    background-color: #6699ff;
    color: white;
    border-radius: 4px;
}
ul.pagination li a:hover:not(.active) {
    background-color: rgb(233, 231, 231,0.5);
}